[Unit]
Description=VivPi terranium lights timer service

[Timer]
OnBootSec=30s
OnCalendar=*:1:0
Persistent=true

Unit=vivpilights.service

[Install]
WantedBy=basic.target